In [18]:
# Import Dependencies
import pandas as pd

In [19]:
BankData = "budget_data.csv"

# Import the books.csv file as a DataFrame
BankData_df = pd.read_csv(BankData, encoding="ISO-8859-1")
BankData_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [20]:
TotalMonths = BankData_df["Date"].count()
TotalProfitLoss = BankData_df["Profit/Losses"].sum()
HighestProfit = BankData_df["Profit/Losses"].max()


print(TotalMonths)
print(TotalProfitLoss)
print(HighestProfit)

86
38382578
1170593

In [21]:
BankData_df["Month Over Month Change"] = BankData_df["Profit/Losses"].diff()

BankData_df.head()

       Date  Profit/Losses  Month Over Month Change
0  Jan-2010         867884                      NaN
1  Feb-2010         984655                 116771.0
2  Mar-2010         322013                -662642.0
3  Apr-2010         -69417                -391430.0
4  May-2010         310503                 379920.0

In [22]:
AverageProfit = BankData_df["Month Over Month Change"].mean()

print(AverageProfit)

-2315.1176470588234

In [23]:
HighestIncrease = BankData_df["Month Over Month Change"].max()
print(HighestIncrease)

GreatestDecrease = BankData_df["Month Over Month Change"].min()
print(GreatestDecrease)

1926159.0
-2196167.0

In [24]:
HighestIncreaseMonth_df = BankData_df.loc[BankData_df["Month Over Month Change"] == HighestIncrease, :]
HighestDecreaseMonth_df = BankData_df.loc[BankData_df["Month Over Month Change"] == GreatestDecrease, :]


HighestIncreaseMonth_df

        Date  Profit/Losses  Month Over Month Change
25  Feb-2012        1170593                1926159.0

In [25]:
HighestDecreaseMonth_df

        Date  Profit/Losses  Month Over Month Change
44  Sep-2013       -1196225               -2196167.0

In [44]:
HighestDecreaseMonth_df.iloc[3:]

Empty DataFrame
Columns: [Date, Profit/Losses, Month Over Month Change]
Index: []

In [10]:
print(f'Financial Analysis')
print(f'----------------------')
print(f'Total Months: {TotalMonths}')
print(f'Total: {TotalProfitLoss}')
print(f'Average Change: {AverageProfit}')
print(f'Greatest Increase in Profits: {HighestIncrease}')
print(f'Greatest Decrease in Profits: {GreatestDecrease}')

Financial Analysis
----------------------
Total Months: 86
Total: 38382578
Average Change: -2315.1176470588234
Greatest Increase in Profits: 1926159.0
Greatest Decrease in Profits: -2196167.0